<iframe src="sink.html" name="sink" style="display: none"></iframe>

<div class="container">
    <form name="loginForm" action="sink.html" target="sink" method="post" class="form-signin" role="form"
          data-ng-submit="login(credentials)" novalidate form-autofill-fix>

        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="alert alert-danger" data-ng-show="errors.length">
            <p data-ng-repeat="error in errors">{{ error }}</p>
        </div>
        <input type="email" class="form-control" placeholder="E-mail address" data-ng-model="credentials.email" required autofocus />
        <input type="password" class="form-control" placeholder="Your password" data-ng-model="credentials.password" required />

        <div class="checkbox">
            <label>
                <input type="checkbox" value="on" data-ng-model="credentials.rememberMe" /> Keep me logged in
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
