parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: false

    mongo_host:        127.0.0.1
    mongo_port:        27017
    mongo_database:    font_awesome_searcher

    uglify_css: /usr/local/bin/uglifycss
    uglify_js:  /usr/local/bin/uglifyjs
    node_path: "/usr/local/bin/node"
    node_modules: "/usr/local/lib/node_modules/"
    coffee_path: "/usr/local/bin/coffee"
    sass_path: "/usr/bin/sass"
    delivery_address:   ~

    opcache_host_ip:    ~

    app_domain:     ~

    recaptcha_public_key:   ~
    recaptcha_private_key:  ~
    recaptcha_session_key:  _recaptcha_valid