{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-ng-app="searchAwesome">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap 101 Template</title>

        <!-- Bootstrap -->
        {% stylesheets output='compiled/css/base.css' filter='cssrewrite' debug=false
        'scss/bootstrap.scss'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}

        {% block styles %}
        {% endblock styles %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    {% block body %}
    {% endblock body %}

    {% block scripts %}
    {% endblock scripts %}
    </body>
</html>
{% endspaceless %}